<div class="mainContainer" >
    <div *ngIf="(!signInMode && (accountService.currentUser$ |async) === null)" class="welcomeScreen">
        <p class="description">A simple tool to track your money.</p>
        <p class="register">Don't have an account yet?</p>
        <a class="register" (click)="toggleSignInMode()">Sign in!</a>
    </div>

    <div *ngIf="signInMode && (accountService.currentUser$ |async) === null">
        <app-signin></app-signin>
    </div>
    <div *ngIf="((accountService.currentUser$ |async) !== null)">
        <app-add-record></app-add-record>
        <!-- <app-record-list></app-record-list> -->
    </div>
</div>
