<div class="modal-header">
    <h4 class="modal-title pull-left">Edit record </h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <input formControlName="Name" type="text" placeholder="{{record.Name}}">
            <input formControlName="Price" type="number" placeholder={{record.Price}}>
            <input formControlName="Category" type="text" placeholder="{{record.Category}}">
            <input bsDatepicker formControlName="Date"placeholder={{record.Date}}>
            <div class="form-group">
                <label class="control-label" style="margin-right: 10px;">This is: </label>
                <label for="" class="radio-inline">
                    <input type="radio" value="1" formControlName="RecordType">an expence
                </label>
                <label for="" class="radio-inline">
                    <input type="radio" value="2" formControlName="RecordType">an income
                </label>
            </div>
            <input formControlName="Description" type="text area" placeholder="{{record.Description}}">
            <button  type="submit" class="btn btn-sm btn-success " form="editForm" (click)="editForm.valid && editRecord()">Edit record</button>
        </form>
    </div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>